@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff');
    src: url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');
    src: url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

//Gilroy

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff');
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff');
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

//ProximaNova-Regular

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff');
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
