*{
    font-family: 'Roboto-Regular';
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    @include breakPoints(xxl) {
        font-size: 62.5%;
    }
    @include breakPoints(xl) {
        font-size: 62.5%;
    }
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.container{
    width: 100%;
    height: 100vh;
}




