.input{
    width: 100%;
    outline: none;
    color: $brand-clr-2;
    font-size: 1.6rem;
    padding: .9rem 0;
}
.input--border-bottom{
    border: none;
    border-bottom: 1px solid $brand-clr-1;
}

