.link-btn{
    text-align: center;
    background-color: $brand-clr-1;
    color: $white-clr;
    min-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.4rem;
}
.link-btn--text{
    text-align: center;
    color: $brand-clr-1;
    min-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.4rem;
}