.login,
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__form {
    display: grid;
    max-width: 42rem;
    width: 100%;
    justify-content: center;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    max-height: 54rem;
    height: 100%;
    grid-template-rows: auto auto auto 1fr;
  }
  .form__title {
    color: $text-clr-1;
    font-size: 2rem;
    font-family: "Gilroy-Bold";
    text-align: center;
    margin-bottom: 3.5rem;
  }
  .label {
    align-self: flex-start;
  }
  .form__buttons {
    align-self: flex-end;
    display: grid;
    row-gap: 1rem;
    align-items: flex-end;
    height: max-content;
  }
}
.registration {
  &__form {
    max-height: 74rem;
  }
  .form__buttons {
    padding-top: 2rem;
  }
}
