.chat-field {
  width: 100%;
  display: grid;
  grid-template-rows: 8rem 1fr;
  height: 100%;
  overflow: hidden;
  .chat-field__header {
    display: grid;
    padding: 1.4rem 3rem;
    border-bottom: 1px solid $grey-clr;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    column-gap: 2rem;
  }
  .header__chat-info {
    justify-self: flex-start;
    display: grid;
    grid-template-areas:
      'avatar name'
      'avatar status';
    column-gap: 0.5rem;
    align-items: center;
  }
  .item__avatar-wrp {
    grid-area: avatar;
  }
  .chat-info__name {
    grid-area: name;
    font-size: 1.4rem;
    color: $text-clr-1;
  }
  .chat-info__status {
    grid-area: status;
    font-size: 1rem;
    color: $text-clr-3;
  }
  .chat-field__body {
    padding: 1.7rem 4rem;
    display: grid;
    row-gap: 4rem;
    max-height: calc(100% - 2rem);
    overflow-y: auto;
    align-items: flex-start;
    grid-auto-rows: min-content;
  }
  .body__item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-self: flex-start;
  }
  .body__item--incoming {
    grid-template-areas: 'avatar text';
  }
  .body__item--outgoing {
    grid-template-areas: 'text avatar';
    justify-self: flex-end;
    .item__text {
      background-color: $brand-clr-1;
    }
    .text__cintent {
      color: $white-clr;
    }
  }
  .item__avatar-wrp--body {
    align-self: flex-end;
  }
  .item__text {
    grid-area: text;
    background-color: $brand-clr-3;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    max-width: 40rem;
    display: grid;
    row-gap: 1.4rem;
  }
  .text__name {
    font-size: 1.4rem;
    color: $text-clr-1;
  }
  .text__cintent {
    color: $brand-clr-2;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .text__last-date {
    font-size: 1.2rem;
    color: $text-clr-3;
  }
  .header__btn {
    padding: 0;
    background-color: transparent;
  }
  .header__btn-icon {
    transition-duration: 0.3s;
    transition-property: color;
    color: $text-clr-3;
    font-size: 2rem;
    &:hover {
      color: $brand-clr-1;
    }
  }
}
