.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .form__container {
    row-gap: 2rem;
  }
}
.registration__form {
  @extend %form;
  max-height: 74rem;
}
