.navigation{
    padding: 3rem 0;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    height: 100%;
    .items-wrp{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: max-content;
        align-self: center;
    }
    &__item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        height: 3rem;
        align-items: center;
    }
    .item-svg{
        fill: $brand-clr-2;
    }
    .item__logo{
        fill: $brand-clr-1;
    }
    &__item--logo{
        align-self: flex-start;
    }
}